body{
    background-color: #f7fd52;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{
    text-align: center;
    
}
.container{
    background-color: rgb(213, 191, 162);
    width: 40%;
    margin: 0 auto;
    min-height: 500px;
    align-content: center;
}
.heading{
    padding: 20px 0;
}
.heading h1{
    color: #3b0fa1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.temp-value{
    font-size: 2rem;
    cursor: pointer;
}
.weather-icon img{
    width: 150px;
}
.notification{
    font-size: 1.2rem;
    font-weight: 100;
}
footer p{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
position: fixed;
}


@media(max-width:800px){
    .container{
        width: 100%;
    }
}
